#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.cover-pic {
  width: 80vw;
  height: 30vh;
}

.profile-pic {
  width: 100px;
}

.post-img {
  width: 200px;
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  gap: 4px;
}